.shower .caption p {
  margin-top: .5em;
}
p.venue {
  font-style: italic;
  margin-bottom: 1em;
}

.slide figure.cover.width.margin > :first-child {
  width: 88%
}
.slide h2 + figure.cover.margin > :first-child {
  margin-top: 2em;
}
.slide h2 + figure.cover.height.margin > :first-child {
  height: 66%;
}

.slide h3 {
  margin-bottom: 0;
}

.slide q {
  font-style: italic;
}

.slide.toc h2 {
  display: none;
}

#funding {
  padding-top: 6em;
}
#funding p:before {
  content: "– ";
}

.slide.no-blockchain h2 {
  font-size: 3em;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 2em;
}

dt {
  color: #453688;
}
